@charset "utf-8";

body {
  font-family: "Noto Sans JP", sans-serif; 
  color: var(--black); 
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: absolute; 
  width: 100%;
  z-index: 10;
  padding: 24px 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block; 
  width: 170px;
}

.site-menu {
  display: flex;
  align-items: center;
  gap: 48px; 
}

.site-menu ul {
  list-style: none; 
  display: flex;
  gap: 40px; 
}

.site-menu a {
  text-decoration: none; 
  color: var(--white); 
}

.flat-button {
  background-color: var(--green);
  color: var(--white);
  padding: 10px 48px;
  border-radius: 50px;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-content {
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-content h1 {
  font-size: 64px; /* [35] */
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px; 
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title h2 {
  font: var(--bold-48px); 
}

.section-title p {
  font: var(--regular-14px); 
  color: var(--green);
}

#skill {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.skills {
  display: flex;
  gap: 64px; 
}

.skill {
  width: 233px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.skill h3 {
  font: var(--bold-24px); 
}

.skill p {
  font: var(--regular-14px); 
  line-height: 1.8;
}

.works-container {
  display: grid;
  grid-template-columns: repeat(3, 300px); 
  gap: 64px;
}

.works-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.works-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.tag {
  background-color: var(--gray); 
  padding: 2px 8px;
  border-radius: 4px;
  font: var(--regular-14px);
}

#about {
  align-self: stretch; 
  background-color: var(--gray);
  padding: 80px 10px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.about-area {
  display: flex;
  align-items: center;
  gap: 16px; 
}

.my-profile {
  width: 480px; 
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-profile h3 {
  font: var(--bold-32px); 
}

.footer {
  background-color: var(--green);
  color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: flex-end; 
}

.copyright {
  margin-right: 20px;
}
